/* -*- Reset Css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}
/* common */
.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}

.column {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: calc(100% / 3);
}

.col-half {
  width: calc(100% / 2);
}

.col-full {
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.pull-right {
  float: right !important;
}

/* main */
#main {
  /* overflow: hidden; */
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000000;
  z-index: 20;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
  color: #000000;
  padding: 0 12px;
  line-height: 38px;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav li a {
  color: aliceblue;
  line-height: 46.5px;
  padding: 1px 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000000;
  background-color: #ccc;
}

#header .mobile-btn-menu,
#header .search-button {
  float: right;
  padding: 0 21px;
  cursor: pointer;
}

#header .mobile-btn-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .mobile-btn-menu:hover {
  background-color: #ccc;
}

#header .mobile-btn-menu:hover .mobile-menu {
  color: #000;
}

#header .search-button:hover {
  color: #fff;
  background-color: #f44336;
}
#header .mobile-menu,
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#Slider {
  position: relative;
  display: block;
  margin-top: 46px;
}

.item-img img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.text-content {
  position: absolute;
  bottom: 48px;
  color: #fff;
  transform: translate(-50%);
  left: 50%;
  text-align: center;
}

.text-heading {
  font-size: 24px;
  font-weight: 500;
}

.text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 4px #000;
}

/* content */

#content .content-section {
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 112px;
  max-width: 100%;
  width: 800px;
  padding-right: 16px;
  padding-left: 16px; /* tăng thuộc tính để làm mất đường viền trắng hoặc có thể dùng overflow:hidden */
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#content .section-logan {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-band {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

#content .member-list {
  margin-top: 48px;
  /* overflow: hidden; */
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
}

/* Tour section */

.tour-ticket {
  background-color: #000000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background: #f44336;
  color: #fff;
  margin-left: 16px;
  padding: 3px 4px;
}

.tickets-list .quantily {
  float: right;
  margin-right: 16px;
  width: 24px;
  height: 22.5px;
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

/* Place */

.places-list {
  margin-top: 16px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-content {
  padding: 16px;
  font-size: 15px;
  background-color: #fff;
}

.place-heading {
  font-size: 15px;
  font-weight: 700;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.btn {
  color: #fff;
  background-color: #000000;
  padding: 9px 16px;
  display: inline-block;
  margin-top: 16px;
  cursor: pointer;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}

.btn:hover {
  color: #000000;
  background-color: #757575;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  overflow: auto;
  display: none;
  z-index: 1000;
}

/* .modal.open {
  display: flex;
} */

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 400px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.fa-bag-shopping {
  margin-right: 16px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.7;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

.btn-ticket-buy {
  background-color: #009688;
  border: none;
  color: #fff;
  font-size: 15px;
  width: 100%;
  text-transform: uppercase;
  padding: 17px;
  cursor: pointer;
}

.btn-ticket-buy:hover {
  opacity: 0.9;
  background-color: #757575;
  color: #000000;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196f3;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* contact */

.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.4;
}

.contact-info i[class*="fa-"] {
  width: 30px;
  display: inline-block;
}

.contact-info a {
  color: #2196f3;
  opacity: 0.6;
}

.contact-info a:hover {
  color: #000000;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
}

.contact-form .form-submit-btn {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
  padding: 10px 16px;
  float: right;
  cursor: pointer;
}

.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .socials-list {
  font-size: 22px;
}

#footer .socials-list a {
  color: #757575;
}

#footer .socials-list a:hover {
  opacity: 0.5;
}

#footer .copyright {
  padding-top: 15px;
  color: #757575;
}

#footer .copyright a {
  color: #757575;
}

#footer .copyright a:hover {
  opacity: 0.5;
}

/* Responsive */ 



@media (max-width: 739px) {

  /* mobile */

  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }


  .s-mt-16 {
    margin-top: 8px !important;
  }


  #header {
    overflow: hidden;
  }
 
  #header .subnav {
    position: initial;
  }

  #header .search-button {
    display: none;
  }

  #header .mobile-btn-menu {
   display: block; 
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block
  }

  #nav .subnav {
    position: initial;
    background-color: #000000;
  }

  #nav .subnav a {
    color: #fff;
    padding:  5px 41px;
  }

  .text-content {
    display: none !important;
  }
  
  #content .member-mobile {
    width: 100%;
  }
  #content .member-img {
    width: 60%;
    margin-bottom: 16px;
  }

  #content .member-name {
    margin: 15px 0;
  }

  .contact-form {
    margin-top: 32px;
  }
  
}



@media (min-with: 740px) and (max-width: 1023px) {
  .contact-info {
    line-height: 2;
  }
}

/* Table */
@media (max-width: 1023px) {
  .btn {
    padding: 14px 16px
  }

  #nav .subnav a {
    padding: 5px 12px;
  }
  .contact-form .form-control {
    padding: 15px;
  }

 

  .socials-list {
    font-size: 48px;
  }

  #footer .socials-list a {
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
}